@import "variables.less";

.ts-inner {
	max-width: 1250px;
	margin: auto;
}
#p-logo-text,
#mw-site-navigation {
	width: 12em;
	float: left;
}
#p-search,
#content {
	margin-left: 14em;
	margin-right: 14em;
}
#mw-related-navigation,
#p-personal {
	width: 12em;
	float: right;
}
