@import "mediawiki.mixins";

@text: #013;
@background: #fff;

@link: @blue;
@link-red: @red;

@grey: #ddd;
@grey-bright: #f0f0f0;
@grey-dark: #aaa;

@red: #b22;
@red-bright: #f44;
@red-dark: #800;

@green: #194;
@green-bright: #4c7;
@green-dark: #071;

@blue: #06a;
@blue-bright: #0af;
@blue-dark: #047;

@link: @blue;
@link-red: @red;


/* To hide objects, but keep them accessible for screen-readers */
.hidden() {
	position: absolute;
	top: -9999px;
}
